html {
    padding: 0;
    margin: 0;
    background: rgb(238, 238, 238);
    -webkit-text-size-adjust: 100%; /* запрещает iOS уменьшать текст */
    overscroll-behavior-y: none;    /* запрещает "отталкивания" страницы */
    touch-action: manipulation;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
    padding-top: 6vh;
    -webkit-text-size-adjust: 100%; /* запрещает iOS уменьшать текст */
    overscroll-behavior-y: none;    /* запрещает "отталкивания" страницы */
    touch-action: manipulation;
}

.bar {
    position: fixed;
    width: 100%;
    height: 6vh;
    background-color: white;
    z-index: 100;
    transform: translateZ(0); /* стабилизация в iOS */
    -webkit-transform: translateZ(0);
}

.barTexts {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 00px;
}

.barTexts a {
    font-family: sans-serif;
    font-size: 2rem;
}

/* ПЕРВЫЙ СЛАЙД //////////////////////////////////////////////////////////////////////////////*/


.titleOne {
    padding-top: 300px;
    margin-bottom: 200px;
    width: 100%;
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.starText {
    font-size: 6.3rem;
    font-family: sans-serif;
    font-weight: 700;
    color: rgb(17, 17, 17);
}

.infoText {
    text-align: center;
    color: rgb(54, 54, 54);
    font-size: 2rem;
    font-family: sans-serif;
}

.buttonOne {
    width: 100%;
    max-width: 400px;
    height: 120px;
    font-family: sans-serif;
    color: rgb(54, 54, 54);
    border-radius: 3rem;
    font-size: 2.3rem;
    border: none;
    border: 2px solid #0c59ff;
    cursor: pointer;
}

.buttonOne:hover {
    background-color: white;
}

/* ВТОРОЙ СЛАЙД //////////////////////////////////////////////////////////////////////////////*/

.titleTwo {
    width: 100%;
    /* height: 45vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
}


.aboutText {
    font-size: 6.3rem;
    font-family: sans-serif;
    font-weight: 700;
    color: rgb(17, 17, 17);
}

.infoTextTwo {
    display: flex;
    justify-content: start;
    margin-left: 50px;
    text-align: center;
    color: rgb(19, 19, 19);
    font-size: 3rem;
    font-family: sans-serif;
    width: 840px;
    font-weight: bold;
}

.blocksOne {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.boxOne, .boxTwo, .boxThree {
    width: 100%;
    max-width: 900px;
    height: 100%;
    min-height: 400px;
    border-radius: 3rem;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    gap: 50px;
}

.boxOneText {
    color: rgb(17, 17, 17);
    font-size: 3.8rem;
    font-family: sans-serif;
    font-weight: 700;
}

.boxOneSub {
    color: rgb(54, 54, 54);
    font-size: 1.7rem;
    font-family: sans-serif;
}

.boxTwoText {
    color: rgb(17, 17, 17);
    font-size: 3.8rem;
    font-family: sans-serif;
    font-weight: 700;
}

.boxTwoSub {
    color: rgb(54, 54, 54);
    font-size: 1.7rem;
    font-family: sans-serif;
}

.boxThreeText {
    color: rgb(17, 17, 17);
    font-size: 3.8rem;
    font-family: sans-serif;
    font-weight: 700;
}

.boxThreeSub {
    color: rgb(54, 54, 54);
    font-size: 1.7rem;
    font-family: sans-serif;
}

/* ТРЕТИЙ СЛАЙД ///////////////////////////////////////////////////////// */


.titleThree {
    width: 100%;
    height: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
}

.blocksTwo {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    max-width: 900px;
    border-radius: 3rem;
    height: 100%;
    min-height: 500px;
    background: white;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    padding: 50px;
    flex-direction: row;
    gap: 50px;
    /* scroll-snap-type: x mandatory; /* включаем прилипания */
    /* -webkit-overflow-scrolling: touch; */
}

:is(.skillBoxOne, .skillBoxTwo, .skillBoxThree) {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    min-width: 80vw;
    border-radius: 3rem;
    height: 100%;
    background: rgb(243, 243, 243);
    display: flex;
    scroll-snap-align: start;
    flex-direction: column;
    padding: 70px;
}

.skillTextOne, .skillTextTwo, .skillTextThree {
    position: relative;
    display: flex;
    justify-content: start;
    font-size: 3rem;
    font-family: sans-serif;
}

.skillTextOne::before {
    content: '55%';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: end;
    font-size: 3rem;
    font-family: sans-serif;
}

.skillTextOne::after {
    display: flex;
    justify-content: center;
    align-items: center;
    content: 'Язык';
    position: absolute;
    left: 0;
    top: 80px;
    width: 180px;
    height: 60px;
    border-radius: 1.5rem;
    background: rgb(177, 175, 175);
    display: flex;

    font-size: 2.3rem;
    font-family: sans-serif;
}

.skillLineOne, .skillLineTwo, .skillLineThree  {
    position: relative;
    margin-top: 150px;
    width: 100%;
    height: 100%;
    min-height: 10px;
    background: white;
    border-radius: 2rem;
}

.skillLineOne::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    height: 100%;
    width: 55%;
    background: #0c59ff;
}

.skillTextTwo::before {
    content: '30%';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: end;
    font-size: 3rem;
    font-family: sans-serif;
}

.skillTextTwo::after {
    display: flex;
    justify-content: center;
    align-items: center;
    content: 'Язык';
    position: absolute;
    left: 0;
    top: 80px;
    width: 180px;
    height: 60px;
    border-radius: 1.5rem;
    background: rgb(177, 175, 175);
    display: flex;

    font-size: 2.3rem;
    font-family: sans-serif;
}

.skillLineTwo::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    height: 100%;
    width: 30%;
    background: #0c59ff;
}

.skillTextThree::before {
    content: '43%';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: end;
    font-size: 3rem;
    font-family: sans-serif;
}

.skillTextThree::after {
    display: flex;
    justify-content: center;
    align-items: center;
    content: 'Язык';
    position: absolute;
    left: 0;
    top: 80px;
    width: 180px;
    height: 60px;
    border-radius: 1.5rem;
    background: rgb(177, 175, 175);
    display: flex;

    font-size: 2.3rem;
    font-family: sans-serif;
}

.skillLineThree::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    height: 100%;
    width: 43%;
    background: #0c59ff;
}

















































@font-face {
    font-family: "undo";  
    src: url("unbounded-semibold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}

@font-face {
    font-family: "undo1";  
    src: url("unbounded-extralight.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}


