html {
    padding: 0;
    margin: 0;
    background: rgb(247, 247, 247);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bar {
    width: 100%;
    height: 2vh;
    background-color: rgb(255, 6, 6);
}

.barTexts {
    height: 100%;
    font-family: undo1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}


.titleOne {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.starText {
    font-size: 4rem;
    font-family: undo;
}

.infoText {
    text-align: center;
}

.buttonOne {
    width: 100%;
    max-width: 150px;
    height: 30px;
    border-radius: 1rem;
    border: none;
    border: 1px solid orange;
}


















































@font-face {
    font-family: "undo";  
    src: url("unbounded-semibold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}

@font-face {
    font-family: "undo1";  
    src: url("unbounded-extralight.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}


