html {
    padding: 0;
    margin: 0;
    background: rgb(238, 238, 238);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bar {
    position: absolute;
    width: 100%;
    height: 6vh;
    background-color: white;
}

.barTexts {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.barTexts a {
    font-family: sans-serif;
    font-size: 2rem;
}


.titleOne {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.starText {
    font-size: 6.3rem;
    font-family: sans-serif;
    font-weight: 700;
    color: rgb(17, 17, 17);
}

.infoText {
    text-align: center;
    color: rgb(54, 54, 54);
    font-size: 2rem;
    font-family: sans-serif;
}

.buttonOne {
    width: 100%;
    max-width: 350px;
    height: 90px;
    font-family: sans-serif;
    color: rgb(54, 54, 54);
    border-radius: 2rem;
    font-size: 2.3rem;
    border: none;
    border: 1px solid rgb(12, 89, 255);
    cursor: pointer;
}

.buttonOne:hover {
    background-color: white;
}



.titleTwo {
    width: 100%;
    /* height: 45vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}


.aboutText {
    font-size: 6.3rem;
    font-family: sans-serif;
    font-weight: 700;
    color: rgb(17, 17, 17);
}

.infoTextTwo {
    text-align: center;
    color: rgb(54, 54, 54);
    font-size: 2rem;
    font-family: sans-serif;
}

.titleThree {
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}


















































@font-face {
    font-family: "undo";  
    src: url("unbounded-semibold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}

@font-face {
    font-family: "undo1";  
    src: url("unbounded-extralight.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}


