html {
    padding: 0;
    margin: 0;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.titleOne {
    display: flex;
    width: 100%;
    align-items: center;
}

.starText {
    display: flex;
    align-items: center;
    font-size: 4rem;
    font-family: undo;
}

















































@font-face {
    font-family: "undo";  
    src: url("unbounded-semibold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}

@font-face {
    font-family: "undo1";  
    src: url("unbounded-extralight.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}


