html {
    padding: 0;
    margin: 0;
    background: rgb(238, 238, 238);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bar {
    position: fixed;
    width: 100%;
    height: 6vh;
    background-color: white;
    z-index: 100;
}

.barTexts {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.barTexts a {
    font-family: sans-serif;
    font-size: 2rem;
}

/* ПЕРВЫЙ СЛАЙД //////////////////////////////////////////////////////////////////////////////*/


.titleOne {
    padding-top: 6vh;
    width: 100%;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.starText {
    font-size: 6.3rem;
    font-family: sans-serif;
    font-weight: 700;
    color: rgb(17, 17, 17);
}

.infoText {
    text-align: center;
    color: rgb(54, 54, 54);
    font-size: 2rem;
    font-family: sans-serif;
}

.buttonOne {
    width: 100%;
    max-width: 400px;
    height: 120px;
    font-family: sans-serif;
    color: rgb(54, 54, 54);
    border-radius: 3rem;
    font-size: 2.3rem;
    border: none;
    border: 1px solid rgb(12, 89, 255);
    cursor: pointer;
}

.buttonOne:hover {
    background-color: white;
}

/* ВТОРОЙ СЛАЙД //////////////////////////////////////////////////////////////////////////////*/

.titleTwo {
    width: 100%;
    /* height: 45vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}


.aboutText {
    font-size: 6.3rem;
    font-family: sans-serif;
    font-weight: 700;
    color: rgb(17, 17, 17);
}

.infoTextTwo {
    text-align: center;
    color: rgb(54, 54, 54);
    font-size: 2rem;
    font-family: sans-serif;
    width: 840px;
}

.blocksOne {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.boxOne {
    width: 100%;
    max-width: 900px;
    height: 400px;
    border-radius: 3rem;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    gap: 50px;
}

.boxOneText {
    color: rgb(17, 17, 17);
    font-size: 3.8rem;
    font-family: sans-serif;
    font-weight: 700;
}

.boxOneSub {
    color: rgb(54, 54, 54);
    font-size: 1.7rem;
    font-family: sans-serif;
}

.boxTwo {
    width: 100%;
    max-width: 900px;
    height: 400px;
    border-radius: 3rem;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    gap: 50px;
}

.boxThree {
    width: 100%;
    max-width: 900px;
    height: 400px;
    border-radius: 3rem;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    gap: 50px;
}


.titleThree {
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}


















































@font-face {
    font-family: "undo";  
    src: url("unbounded-semibold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}

@font-face {
    font-family: "undo1";  
    src: url("unbounded-extralight.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}


