html {
    padding: 0;
    margin: 0;
    background: rgb(238, 238, 238);
    -webkit-text-size-adjust: 100%; /* запрещает iOS уменьшать текст */
    overscroll-behavior-y: none;    /* запрещает "отталкивания" страницы */
    touch-action: manipulation;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
    padding-top: 60px;
    -webkit-text-size-adjust: 100%; /* запрещает iOS уменьшать текст */
    overscroll-behavior-y: none;    /* запрещает "отталкивания" страницы */
    touch-action: manipulation;
}

.bar {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 120px;
    background-color: white;
    z-index: 100;
    transform: translateZ(0); /* стабилизация в iOS */
    -webkit-transform: translateZ(0);
    border-bottom: 1px solid rgb(114, 114, 114);
}

.barTexts {
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.barTexts a {
    font-family: sans-serif;
    font-size: 2rem;
}

.barTextsMobile {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 400px;
}

.oneBarM {
    display: flex;
    font-size: 2.2em;
    font-family: sans-serif;
    color: #333333;
}

.twoBarM {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-family: sans-serif;
    color: #eeeeee;
    width: 270px;
    height: 70px;
    border-radius: 1.5rem;
    background: #0c59ff;
}

/* ПЕРВЫЙ СЛАЙД //////////////////////////////////////////////////////////////////////////////*/


.titleOne {
    /* padding-top: 5vh;
    margin-bottom: 10vh; */
    width: 100%;
    /* min-height: 10vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.starText {
    margin-top: 10vh;
    font-size: 6.3rem;
    font-family: sans-serif;
    font-weight: 700;
    color: #333333;
}

.infoText {
    text-align: center;
    color: rgb(54, 54, 54);
    font-size: 2rem;
    font-family: sans-serif;
}

.buttonOne {
    width: 100%;
    max-width: 400px;
    height: 120px;
    font-family: sans-serif;
    color: rgb(54, 54, 54);
    border-radius: 3rem;
    font-size: 2.3rem;
    border: none;
    border: 2px solid #0c59ff;
    cursor: pointer;
}

.buttonOne:hover {
    background-color: white;
}

/* ВТОРОЙ СЛАЙД //////////////////////////////////////////////////////////////////////////////*/

.titleTwo {
    margin-bottom: 5vh;
    width: 100%;
    /* height: 45vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
}


.aboutText {
    font-size: 6.3rem;
    font-family: sans-serif;
    font-weight: 700;
    color: #333333;
}

.infoTextTwo {
    display: flex;
    justify-content: start;
    margin-left: 50px;
    text-align: center;
    color: rgb(19, 19, 19);
    font-size: 3rem;
    font-family: sans-serif;
    width: 840px;
    font-weight: bold;
}

.blocksOne {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.boxOne, .boxTwo, .boxThree {
    width: 100%;
    max-width: 900px;
    height: 100%;
    min-height: 400px;
    border-radius: 3rem;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    gap: 50px;
}

.boxOneText {
    color: #333333;
    font-size: 3.8rem;
    font-family: sans-serif;
    font-weight: 700;
}

.boxOneSub {
    color: rgb(54, 54, 54);
    font-size: 1.7rem;
    font-family: sans-serif;
}

/* ТРЕТИЙ СЛАЙД ///////////////////////////////////////////////////////// */


.titleThree {
    margin-bottom: 5vh;
    width: 100%;
    height: 100%;
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
}

.subtitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 600px;
}

.barSkills {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100px;
    font-size: 2.5rem;
    font-family: sans-serif;
}

.tSkill {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 110%;
    background: transparent;
    border-radius: 2rem 2rem 0 0;
    transition: background-color 0.3s ease;
}


.tSkill.active {
    background: #ffffff;
}
.tSkill.invisible {
    background: #ffffff00;
}

.front, .back, .tools {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.exs {
    display: none;
}

.blockSkill {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    max-width: 900px;
    border-radius: 0 2rem 2rem 2rem;
    height: 100%;
    min-height: 500px;
    background: white;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    padding: 50px;
    flex-direction: row;
    gap: 50px; 
}

:is(.skillBoxOne, .skillBoxTwo, .skillBoxThree) {
    display: flex;
    justify-content: center;
    min-width: 80vw;
    border-radius: 3rem;
    height: 100%;
    background: rgb(243, 243, 243);
    display: flex;
    scroll-snap-align: start;
    flex-direction: column;
    padding: 70px;
}

.skillTextOne, .skillTextTwo, .skillTextThree {
    position: relative;
    display: flex;
    justify-content: start;
    font-size: 3rem;
    font-family: sans-serif;
}

.skillTextOne::before {
    content: '55%';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: end;
    font-size: 3rem;
    font-family: sans-serif;
}

.skillTextOne::after {
    display: flex;
    justify-content: center;
    align-items: center;
    content: 'Язык';
    position: absolute;
    left: 0;
    top: 80px;
    width: 180px;
    height: 60px;
    border-radius: 1.5rem;
    background: rgb(177, 175, 175);
    display: flex;

    font-size: 2.3rem;
    font-family: sans-serif;
}

.skillLineOne, .skillLineTwo, .skillLineThree  {
    position: relative;
    margin-top: 150px;
    width: 100%;
    height: 100%;
    min-height: 10px;
    background: white;
    border-radius: 2rem;
}

.skillLineOne::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    height: 100%;
    width: 55%;
    background: #0c59ff;
}

.skillTextTwo::before {
    content: '30%';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: end;
    font-size: 3rem;
    font-family: sans-serif;
}

.skillTextTwo::after {
    display: flex;
    justify-content: center;
    align-items: center;
    content: 'Язык';
    position: absolute;
    left: 0;
    top: 80px;
    width: 180px;
    height: 60px;
    border-radius: 1.5rem;
    background: rgb(177, 175, 175);
    display: flex;

    font-size: 2.3rem;
    font-family: sans-serif;
}

.skillLineTwo::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    height: 100%;
    width: 30%;
    background: #0c59ff;
}

.skillTextThree::before {
    content: '43%';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: end;
    font-size: 3rem;
    font-family: sans-serif;
}

.skillTextThree::after {
    display: flex;
    justify-content: center;
    align-items: center;
    content: 'Язык';
    position: absolute;
    left: 0;
    top: 80px;
    width: 180px;
    height: 60px;
    border-radius: 1.5rem;
    background: rgb(177, 175, 175);
    display: flex;

    font-size: 2.3rem;
    font-family: sans-serif;
}

.skillLineThree::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    height: 100%;
    width: 43%;
    background: #0c59ff;
}


/* ЧЕТВЕРТЫЙ СЛАЙД //////////////////////////////////////////////////////////////////////// */

.titleFour {
    margin-bottom: 5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 50vh;
}

.feedbackBox {
    padding-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 30px;

    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.boxFeed, .boxFeedS {
    display: flex;
    padding: 40px;
    flex-direction: column;
    width: 100%;
    min-width: 430px;
    min-height: 400px;
    border-radius: 2rem;

}

.boxFeed {
    gap: 50px;
    background-color: white;
}

.boxFeedS {
    gap: 50px;
    border: 3px solid #0c59ff;
    background: #c7c7c7;
}

.feedOneText {
    width: 100%;
    max-width: 360px;
    font-size: 2.8rem;
    font-family: sans-serif;
    font-weight: 700;
    color: #333333;
}

/* .feedOneTextS {
    width: 100%;
    max-width: 360px;
    font-size: 2.8rem;
    font-family: sans-serif;
    font-weight: 700;
    color: #0c59ff;
}

.feedTwoTextS {
    width: 100%;
    max-width: 360px;
    font-size: 2rem;
    font-family: sans-serif;
    color: rgb(61, 61, 61);
} */

.feedTwoText {
    width: 100%;
    max-width: 360px;
    font-size: 2rem;
    font-family: sans-serif;
    color: rgb(61, 61, 61);
}


/* ПЯТЫЙ СЛАЙД //////////////////////////////////////////////////////////////// */


.titleFife {
    margin-bottom: 5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 10vh;
}

.widthBox {
    display: flex;
    margin-top: 50px;
    width: 100%;
    min-width: 900px;
    min-height: 600px;
    height: auto;
    background: #ffffff;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 0 0 rgb(221, 221, 221);
    border-radius: 2rem;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 70px;
}

.boxis-one, .boxis-two, .boxis-three, .boxis-four, .boxis-fife {
    position: relative;
}

.name-social {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.name {
    width: 800px;
    min-height: 130px;
    background: #c7c7c7;
    border-radius: 2rem;
    border: none;
    font-size: 2rem;
    color: black;
    padding-left: 25px;
}

.name:focus {
  border: 1px solid rgb(88, 88, 88);
}

.name-text {
    padding-left: 25px;
    font-family: sans-serif;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    font-size: 2rem;
    pointer-events: none;
    transition: 
        font-size 0.3s ease,
        color 0.3s ease,
        transform 0.3s ease;
}

.name-text::before {
    position: absolute;
    top: 90px;
    width: 400px;
    left: 0;
    content: 'Вы не ввели свое фио';
    color: rgb(255, 87, 87);
    font-family: sans-serif;
    font-size: 1.7rem;
    padding-left: 15px;
    opacity: 0;
}

.name-text.show-before::before {
  opacity: 1;
}

.name:focus + .name-text.show-before::before,
.name:not(:placeholder-shown) + .name-text.show-before::before {
  opacity: 0;
}

.name:focus + .name-text,
.name:not(:placeholder-shown) + .name-text {
    transform: translateY(-50px);
    font-size: 1.7rem;
    color: rgb(133, 133, 133);
}

.social {
    padding-left: 25px;
    width: 800px;
    min-height: 130px;
    background: #c7c7c7;
    border-radius: 2rem;
    border: none;
    font-size: 2rem;
    color: black;
}

.social:focus {
  border: 1px solid rgb(88, 88, 88);
}

.social-text {
    padding-left: 25px;
    font-family: sans-serif;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    font-size: 2rem;
    pointer-events: none;
    transition: 
        font-size 0.3s ease,
        color 0.3s ease,
        transform 0.3s ease;
}

.social-text::before {
    position: absolute;
    top: 90px;
    width: 400px;
    left: 0;
    content: 'Вы не ввели свое фио';
    color: rgb(255, 87, 87);
    font-family: sans-serif;
    font-size: 1.7rem;
    padding-left: 15px;
    opacity: 0;
}

.social-text.show-before::before {
  opacity: 1;
}

.social:focus + .name-text.show-before::before,
.social:not(:placeholder-shown) + .name-text.show-before::before {
  opacity: 0;
}

.social:focus + .social-text,
.social:not(:placeholder-shown) + .social-text {
    transform: translateY(-50px);
    font-size: 1.7rem;
    color: rgb(133, 133, 133);
}


.email {
    padding-left: 25px;
    width: 800px;
    min-height: 130px;
    background: #c7c7c7;
    border-radius: 2rem;
    border: none;
    font-size: 2rem;
    color: black;
}

.email:focus {
  border: 1px solid rgb(88, 88, 88);
}

.email-text {
    padding-left: 25px;
    font-family: sans-serif;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    font-size: 2rem;
    pointer-events: none;
    transition: 
        font-size 0.3s ease,
        color 0.3s ease,
        transform 0.3s ease;
}

.email-text::before {
    position: absolute;
    top: 90px;
    width: 400px;
    left: 0;
    content: 'Вы не ввели свое фио';
    color: rgb(255, 87, 87);
    font-family: sans-serif;
    font-size: 1.7rem;
    padding-left: 15px;
    opacity: 0;
}

.email-text.show-before::before {
  opacity: 1;
}

.email:focus + .email-text.show-before::before,
.email:not(:placeholder-shown) + .email-text.show-before::before {
  opacity: 0;
}

.email:focus + .email-text,
.email:not(:placeholder-shown) + .email-text {
    transform: translateY(-50px);
    font-size: 1.7rem;
    color: rgb(133, 133, 133);
}

.message {
    padding-left: 25px;
    width: 100%;
    min-width: 800px;
    min-height: 150px;
    background: #c7c7c7;
    font-family: sans-serif;
    z-index: 4;
    outline: none;
    border-radius: 2rem;
    border: none;
    font-size: 2rem;
    color: black;
    /* padding: 10px 0 0 15px; */
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 590px;
    max-height: 150px;
    resize: none;
    overflow-y: auto;
    /* padding: 15px; */
    padding-top: 40px;
}

.message::-webkit-scrollbar {
  width: 6px;
}

.message::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.message::-webkit-scrollbar-thumb {
  background: #c7c6c600;
  border-radius: 10px;
  transition: background 0.3s ease;
}

.message::-webkit-scrollbar-thumb:hover {
  background: #aaaaaa00;
}

.message:focus {
  border: 1px solid rgb(88, 88, 88);
}

.message-text {
    padding-left: 25px;
    font-family: sans-serif;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-100%);
    color: color;
    font-size: 2rem;
    pointer-events: none;
    transition: 
        font-size 0.3s ease,
        color 0.3s ease,
        transform 0.3s ease;
}

.message-text::before {
    width: 700px;
    position: absolute;
    top: 120px;
    left: 0;
    content: 'Напишите с какой целью хотите связаться';
    color: rgb(255, 87, 87);
    font-family: sans-serif;
    font-size: 1.7rem;
    padding-left: 15px;
    opacity: 0;
}

.message-text.show-before::before {
  opacity: 1;
}

.message:focus + .message-text.show-before::before,
.message:not(:placeholder-shown) + .message-text.show-before::before {
  opacity: 0;
}

.message:focus + .message-text,
.message:not(:placeholder-shown) + .message-text {
    transform: translateY(-65px);
    font-size: 1.7rem;
    color: rgb(133, 133, 133);
}


.button-message {
    width: 90%;
    min-width: 100px;
    height: 100%;
    min-height: 130px;
    background:#0c59ff;
    border: 2px solid rgb(156, 156, 156);
    border-radius: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: undo1;
    cursor: pointer;
    position: relative;
    overflow: hidden; 
}


@keyframes shake {
  0%, 100% { transform: translateX(0); }
  20%, 60% { transform: translateX(-6px); }
  40%, 80% { transform: translateX(6px); }
}



.button-message::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #032f8f;
    z-index: 0;
    transition: left 1s ease;
    box-shadow: -10px 0 10px 0 #85f802;
}

.button-message::after {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: undo1;
    content: "✔ Сообщение отправлено";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #ffffff;
    z-index: 0;
    transition: left 1s ease-in-out;
    opacity: 0;
}

.button-message.clicked::before {
    left: 0;
    color: #000000;
}

.button-message.clicked::after {
    animation: accept 1s ease forwards;
    animation-delay: 1s;
    color: white;
}

@keyframes accept {
    to {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    from {
        opacity: 0;
    }
}








































@font-face {
    font-family: "undo";  
    src: url("unbounded-semibold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}

@font-face {
    font-family: "undo1";  
    src: url("unbounded-extralight.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}


